*{
    margin: 0%;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Header_Background{
        background-image: url("./Images/Backgound3.jpg");
        height: 624px;
        /* width: 100%; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* position: relative; */
}
.Header_text{
    padding-top: 15%;
    
    
}

.Header_btn {
    position: absolute;
    color: #fff;
    bottom:40%;
    left: 42%;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 18px;
    padding: .5% .5%;
    
    
        
}
.Header_btn:active{
    color: #fff;
    background-color: rgba(53, 39, 65, 0.699);
}
.Header_btn:hover{
    color: #fff;
}
.Header_RightArrow{
   margin-left: 33px;
    
}
.NavBar{
    position: relative;
    bottom: -10.1%;
    background-color: rgb(25, 3, 46);
    color: #fff;
    
}
.info{
    position: relative;
    top: 17%;
    height: 100vh;
    color: rgb(40, 48, 122);
    text-align: center;
    
}
#Features{
    /* border: 1px solid black; */
    /* width: 100%;
    height: 40vh; */
}
.card-body img{
    width: 100ox;
    height: 100px;
}
.mypic{
    width: 90%;
    height: 240px;
}
.My_details{
    padding-left: 4%;
    padding-right: 4%;
    color: rgb(70, 129, 131);
    font-size: 18px;
}
.text_progress{
    padding: 0 20px;
    padding-top: .3%;
    text-align: left;
    height: 22px;
    width: 100px;
    background-color: darkblue;
    font-weight: bolder;

}
.number_progress{
    padding-right: 1%;
    padding-top: .3%;
    text-align: right;
    height: 22px;
    width: 24%;
    color: rgb(128, 124, 141);
}